/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
*{
	margin: 0;
    font-family: 'Raleway', sans-serif;

}
.cabecera{
    left: 0;
	top: 0;
    width: 100%;
	height: 70px;
	position: fixed;
	margin: 0;
	padding: 0;
    background-color: #E54E79;
    text-align: right;
    z-index: 20;
}
.logo{
	width: 6%;
    float: left;
    margin-left: 11%;
    margin-top: 1%;
    height: 54%;
}
ul li{
	display: inline-block;
	z-index: 21;
}
ul li a{
    margin-top: -10px;
	display: block;
	color: white;
	padding:20px;
    text-decoration: none;
}
li a:hover{
	background-color: #E56385;
	color: white;
	bottom: 10px;
}

#imagen{
    width: 100%;

}
.ventana{
	background-color: white;
	border-color: yellow;
	width: 507px;
	height: 350px;
	position: absolute;
	float: right;
	margin-right: 0;
	top: 200px;
	right: 0;
	z-index: 20;
} 
h1{
	position: relative;
	margin: 40px;
	color: #00B2A9;
}
h3 p form{
	position: relative;
	margin-right:40px;
	display: block;
	margin-left: 10%;

}
.imput{
   background-color: #E56385;
   border-radius: 10px;
   height: 30px;
   width: 200px;
}

#interior{
    background-color: #00B2A9;
    padding-bottom: 0;
	position: relative;
	margin-right: 0;
	height: 700px;
	margin-top: -1px;
	right: 0;
}
img{
	height: 5%;
	width: 5%;

}

.dentro{
	margin-top: -20px;
	width: 100%;
	height: 100px;
	background: white;
}
h2{
	margin-top: 5%;
    margin-left: 40%;
    margin-top: 15%;
    height: 54%;
    

}

footer{
   top: 0;
   height: 100px;
   background-color: #75726C;
   bottom: 0;
   left: 0;	
}
.face{
   margin:20px;
   width: 50px;
   height: 50px;
   float: right;
   margin-top: 0px;
}
h4{
	margin-top: 0px;
	padding-top: 17px;
	padding-left: 22px;

}
